Integers

In [1]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

Floating-Point Numbers

In [5]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

String

In [8]:
print("I'm Student")
print('The book title is : "Hacktiv8"')

I'm Student
The book title is : "Hacktiv8"

In [9]:
print(type("Hacktiv8"))
print(type('hacktiv8'))

<class 'str'>
<class 'str'>

Boolean Type,Boolean Context,and "Truthiness"

In [10]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

Variable Assignment

In [11]:
nama="Ani"
Nama="Ina"

print(nama,Nama)

Ani Ina

Variable Types in Python

In [12]:
var =23.5
print(var)

var = "Now I'm a String"
print(var)

23.5
Now I'm a String

Variabel Names

In [16]:
name = "Hacktiv8"
Age =54
has_laptops = True
print(name, Age, has_laptop)

Hacktiv8 54 True

In [20]:
9_kepala_naga = True //variabel tidak boleh dimulai dengan angka

SyntaxError: invalid decimal literal (<ipython-input-20-737512de54da>, line 1)

Operators anad Ekspressions in Python

In [24]:
a = 10
b = 20
a + b

30

In [76]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [73]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)#division
print(a // b)#integer division 1
print(a % b)#modulo
print(a ** b) #pangkat

7
1
12
1.3333333333333333
1
1
64

In [27]:
a = 10
b + 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
False
True
True
True
True

String Manipulation

In [28]:
# + operators
s='foo'
t='bar'
u='baz'

print(s+t)
print(s+t+u)
print('hacktiv8' + 'PTP')

foobar
foobarbaz
hacktiv8PTP

In [29]:
# in operators

s='foo'
print(s in 'that food for us')
print(s in 'that good for us')

True
False

In [72]:
keyword = "Wonder"
book_title = "Alice in Wonderland"

# keyword in book_title
print(keyword in book_title)

True

In [30]:
#case Conversion
s= 'HackTIV8'

#capital
print(s.capitalize())

#lower
print(s.lower())

#swapcase
print(s.swapcase())

#title
print(s.upper())

#uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
HACKTIV8
HACKTIV8

In [70]:
# .capitalize() vs .title()

s = 'hello world'
print('Capitalized ', s.capitalize())
print('Titled ', s.title())

Capitalized  Hello world
Titled  Hello World

Python Lists

In [31]:
a = ['foor','bar','baz','qux']

print(a)

['foor', 'bar', 'baz', 'qux']

Lists Can Contain Arbitraty Object

In [33]:
a = [21.42, 'foobar', 3, 4 ,'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

List Element Can Be Accessed by Index

In [38]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[5])

foo
corge

In [35]:
print(a[-1])
print(a[-6])

corge
foo

In [39]:
#The concatenation (+) and replication (*):

print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [40]:
#len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [67]:
coins = [12,  300, 45, 100, 4, 90, 87]
print(len(coins))
print(min(coins))
print(max(coins))

7
4
300

modifying a Single List Value

In [41]:
print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [42]:
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

modifying multiple list value

In [45]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:4])

a[1:4]= [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

python tuples

In [47]:
t = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(t)

print(t[0])
print(t[-1])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
foo
corge

In [49]:
#packing and unpacking 

(s1, s2, s3, s4)=('foo', 'bar', 'baz', 'qux')

s1

'foo'

In [65]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

print(s1)
print(s2)
print(s3)
print(s4)

foo
bar
baz
qux

In [53]:
#python dictionary

MLB_Team ={
    'Colorado':'Rockies',
    'Boston':'Red Sox',
    'Minnesota':'Twins',
    'Milwaukee':'Brewers',
    'Seattle':'Mariners'
}

In [54]:
print(MLB_Team['Minnesota'])
print(MLB_Team['Colorado'])

Twins
Rockies

In [62]:
MLB_Team['Kansas City'] = 'Royals'
MLB_Team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [60]:
MLB_Team['Seattle'] = 'Seahawks'
MLB_Team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [61]:
del MLB_Team['Seattle']
MLB_Team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

Building a Dictionary Incrementally

In [71]:
person = {}
type(person)

person['fname'] = 'Hack'
person['Iname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['Children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] ={'dog':'fido','cat':'Sox'}